.submit:hover,
.submit:focus{
    background-color:$primary;
    color:$fourth;
}

button:hover,
button:focus{
    background-color:$fourth;
    color:$fifth;
}

.recipesContainer li:hover,
.recipesContainer li:focus{
    background-color:$secondary;
}

.recipesContainer a:hover,
.recipesContainer a:focus{
    color:$fourth;
}

.footer a:hover,
.footer a:focus{
    background-color:$primary;
    color:$fourth;
}

.fa-arrow-circle-up:hover,
.fa-arrow-circle-up:focus{
    color:$primary;
    font-size:4.5rem;
}