.recipes {
    display: flex;
    flex-wrap: wrap;
}

.recipesContainer {
    width:calc(100% / 3);
}

.recipeFilter {
    display: flex;
    flex-wrap: wrap;
}

html {
    background-image:url(../assets/mainBackground.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

main {
    min-height: 100vh;
}

.hidden {
    display: none;
}