.recipesContainer{
    width:calc(100% / 3);
}

html{
    background-image:url(../assets/mainBackground.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

main{
    min-height:100vh;
}

.hidden{
    display:none;
}

button{
    padding:1.3rem;
    width:11rem;
}