/* Portrait tablet and small desktops */
@media (max-width: 985px) {
    .headerForm{
        margin:0 auto;
        position:static;
    }

    .recipesContainer{
        width: 50%;
    }

    .recipeLinks p:first-child{
        margin-right:20px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 721px) {
    html{
        font-size:54%;
    }

    .recipeLinks p:first-child{
        margin-right:10px;
    }
}

/* Landscape phones and down */
@media (max-width: 620px) {
    .recipesContainer{
        width: 100%;
    }

    main{
        font-size:1.9rem;
    }

    .recipeLinks p:first-child {
        margin-right: 15px;
    }

    .submit{
        width:150px;
    }

    h1{
        font-size:5.8rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    input[type="text"]{
        width:70%;
    }

    .filterTitle{
        text-align:center;
    }

    .recipeFilter{
        justify-content:center;
    }

    .scrollUp{
        bottom:28px;
    }

    .footer a:hover{
        padding:0;
    }
}